.container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:76px;
    color:#000;
    background: #fff;
}
.back{
    position: absolute;
    top:0px;
    left:22px;
    width:150px;
    height:76px;
    line-height: 76px;
    font-size:28px;
}
.backCaption{
    position:relative;
    top:4px;
    left:0;
}
.backImg{
    display:inline-block;
    vertical-align: middle;
    width:28px;
    height: 42px;
}
.title{
    width:50%;
    text-align: center;
    line-height:76px;
    margin: 0 auto;
    font-size:38px;
}
.content{
    margin-top:76px;
    padding:0 22px;
}
.item{
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:146px;
    border-bottom:2px solid #ddd;
}
.mask {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.3);
}
.maskBox {
    position: absolute;
    width: 100%;
    top:220px;
}
.timeSlot{
    background: #fff;
}
.timeSlot>div{
    width:706px;
    height:104px;
    line-height: 104px;
    text-align: center;
    font-size:28px;
    border-bottom:2px solid #ddd;
}
.current{
    color:#2295e8
}
.work{
    font-size:30px;
    color:#000;
}
.workRemind{
    margin-top:24px;
    font-size:24px;
    color:#a8a8a8;
}
.icon{
    width:20px;
    height:10px;
    margin-left:14px;
    vertical-align: middle;
}