.container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
}
.content{
    margin-bottom:80px;
    background:#fff;
}
.describe,.mailbox{
    padding:45px 0 25px;
    margin:0 46px;
    color:#5d5d69;
    border-bottom:2px solid #c7c7c7;
}
.mailbox1{
    padding:84px 0 25px;
    margin:0 46px;
    color:#5d5d69;
    border-bottom:2px solid #f4f4f4;
}
.inputBox{
    outline:none;
    border:0;
    width:80%;
}
.dataDescribe,.receiveMail{
    font-size:24px;
    color:#5d5d69;
}
.hideReceive{
    display:none;
}
.button{
    width:658px;
    height:94px;
    margin: 0 auto;
    border-radius:3px;
    text-align: center;
    line-height: 94px;
    color:#fff;
    font-size:34px;
    background:#2295e8;
}
.Button{
    width:658px;
    height:94px;
    margin: 0 auto;
    border-radius:3px;
    text-align: center;
    line-height: 94px;
    color:#fff;
    font-size:34px;
    background:#bcdff8;
}
