.container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(#3db8fa, #2e79ca);
}

.header{
  height:84px;
  color:#FFF;
}
.back{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  height:64px;
  font-size:28px;
}
.backImg{
  display:inline-block;
  vertical-align: middle;
  width:28px;
  height: 42px;
  margin-right: 5px;
  
}
.headImage{
  height:260px;
  display: flex;
  align-items:center;
  justify-content: center
}

.invite{
  padding: 20px;
  height: 80px;
  color: #FFF;

}
.invite input {
  background: transparent;
  border:none;
  outline:medium;
  color: #FFF;
  width: 90%;
  display: inline-block;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
  color: #FFF; 
} 
  
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: #FFF; 
} 
  
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: #FFF; 
  
} 
  
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: #FFF; 
} 

.next{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 80px;
  width: 100%;
}
.nextStep{
  height: 100%;
  width: 90%;
  background: lightgray;
  color: #2e79ca;
}

.modal{
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none; */
}

.modalContent{
  height: 58%;
  width: 100%;
  background: #FFF;
  align-self: flex-end;
}
.sureBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e79ca;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid lightgray;
}
.sureBtn >div{
  position: absolute;
  right: 30px;
}
.depart{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding:20px;
}
.departItem{
  width: 28%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid lightgray;
  margin: 15px;
}
.selDepartItem{
  width: 28%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid lightgray;
  margin: 15px;
  background: #3db8fa;
  color: #FFF;
}