.container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:76px;
    font-size:28px;
    color:#000;
    background: #fff;
}
.back{
    padding-left:22px;
}
.backCaption{
    position:relative;
    top:4px;
    left:0;
}
.backImg{
    display:inline-block;
    width:28px;
    height: 42px;
    vertical-align: middle;
}
.editProfile{
    padding-right:22px;
    color:#2e79ca;
}
.title{
    font-size:36px;
    margin-left:-78px;
}
.content{
    padding:76px 0 140px;
    background:#fff;
}
.information{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:96px;
    padding:0 22px;
    border-bottom:2px solid #ddd;
}
.currentMonth{
    height:30px;
    padding-top:36px;
    padding-bottom:36px;
    border-bottom: 6px solid #2295e8;
    color:#2295e8;
}
.noMonth{
    height:30px;
    padding-top:36px;
    padding-bottom:36px;
    border-bottom: 6px solid transparent;
    color:#000;
}
.phone{
    font-size:26px;
    color:#000;
    border:none;
    outline: none;
}
.department{
    font-size:32px;
}
.tabBox{
    width:700px;
    height:54px;
    margin:45px auto 8px;
    border:2px solid #2295e8;
    border-radius:8px;
}
.currentTab,.tab{
    display:inline-block;
    width:50%;
    text-align: center;
    line-height: 54px;
    font-size:26px;
}
.currentTab{
    color:#fff;
    background: #2295e8;
}
.tab{
    color:#2295e8;;
    background:#fff;
}
.month{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100%;
    height:102px;
    font-size:30px;
    color:#707070;
    border-bottom: 2px solid #ddd;
}
.currentMonth{
    color:#2295e8;
}
.detailsList{
    padding:0 24px;
}
.item{
    border-bottom:1px solid #ddd;
    padding:20px 0 22px;
}
.displayDate{
    font-size:22px;
    color:#999;
}
.work{
    width:100%;
}
.work>div{
    box-sizing:border-box;
    display:inline-block;
    margin-top:26px;
    width:50%;
}
.gotoWork,.gooffWork{
    padding-left:24px;
    color:#000;
}
.unusual{
    display:inline-block;
    color:#ed8363;
}
.punchTime{
    color:#999;
}
.more{
    position:fixed;
    bottom: 0;
    left:0;
    height:102px;
    width:100%;
    border:2px solid #ddd;
    text-align: center;
    line-height: 102px;
    font-size:32px;
    color: #2e79ca;
    background: #fff;
}