.container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background: #ededed;
}
.container1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:#fff;
}
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:94px;
    padding:0 22px;
    background:#33b5fc;
    font-size:26px;
    color:#fff;
}
.Userheader{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    height:94px;
    padding:0 22px;
    background:#33b5fc;
    font-size:26px;
    color:#fff;
}
.scanBox{
    width:168px;
    height:36px;
}
.scanImg{
    width:36px;
    height:36px;
    vertical-align: middle;
}
.scanText{
    display:inline-block;
    position: relative;
    top:3px;
    margin-left:12px;
}
.information{
    display:flex;
    align-items: center;
    justify-content: center;
    height:189px;
    width:100%;
    background: #33b5fc;
}
.informationPhoto{
    width:140px;
    height: 140px;
    border-radius:50%;
}
.personalInformation{
    margin-left:20px;
    color:#fff;
    font-size:24px;
    line-height: 48px;
}
.name{
    font-size:32px;
}
.content{
    font-size:28px;
    padding:0 48px;
    background:#fff;
}
.content>.item:last-child{
    border:0;
}
.item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    height:106px;
    border-bottom: 2px solid #ddd;
}
.itemImg{
    display:inline-block;
    width:40px;
    height:40px;
    margin-right: 32px;
}
.itemName{
    flex:1;
}
.itemGo{
    width:26px;
    height:40px;
}
.jurisdictionModule_1{
    padding:0 48px 160px;
    margin-top:22px;
    font-size:28px;
    background:#fff;

}
.tabBox{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    /* height:98px; */
    /* font-size:20px; */
    /* padding:12px 0 6px; */
    border-top:1px solid #ededed;
    background: #fff;
}
.tab{
    display:inline-block;
    text-align: center;
    width:50%;
}
.tabImg{
    display:inline-block;
    /* width:44px;
    height:44px;
    margin-bottom:10px; */
}
/* .tabText{
    padding-top:8px;
} */
.headerTip{
    padding:0 22px;
    height:32px;
    padding:40px 0;
}
.time{
    width:310px;
    margin:0 auto;
    font-size:32px;
    color:#000;
}
/* .rankingList{
    position:absolute;
    top:41px;
    right:25px;
}
.rankingListImg{
    display:inline-block;
    width:36px;
    height:32px;
    margin-right:12px;
}
.rankingListText{
    display:inline-block;
    position: relative;
    top:-2px;
    color:#2093e6;
} */
.noticeBoard{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px;
    background:#fdf0ec;
}
.noticeImg{
    display:inline-block;
    width:30px;
    height:30px;
    margin-right:10px;
}
.noticeText{
    flex:1;
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:30px;
    line-height: 30px;
    font-size:22px;
    color:#ed8768;
}
.noteceDelete{
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:30px;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clickClock{
    margin:270px 0 46px;
    position:relative;
}
.ring{
    z-index:1;
    width:276px;
    height:276px;
    border:18px solid #b4dbf7;
    border-left-color: #90c4e9;
    border-radius:50%;
    -webkit-animation:circle 1s infinite linear;/*匀速 循环*/
}
.circular{
    z-index:1;
    width:276px;
    height:276px;
    border:18px solid #b4dbf7;
    border-radius:50%;
}
.cardFinish{
    z-index:1;
    width:276px;
    height:276px;
}
.cardTime{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:24px;
    left:0;
    z-index:2;
    width:276px;
    height:276px;
    color:#6dbafe;
}
@-webkit-keyframes circle{
    0%{ transform:rotate(0deg); }
    100%{ transform:rotate(360deg); }
}
.clickButton{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:18px;
    left:18px;
    z-index:2;
    width:276px;
    height:276px;
    border-radius: 50%;
    color:#6dbafe;
    background: #2093e6;
}
.clockOn{
    font-size:44px;
}
.clockCan{
    font-size:44px;
    color:#fff;
}
.clockDate{
    font-size:30px;
}
.prompt{
    vertical-align:bottom;
}
.promptImg{
    display:inline-block;
    width:32px;
    height: 32px;
}
.text{
    display:inline-block;
    position:relative;
    top:-4px;
    left:0;
    margin-left:10px;
}
.refreshHide{
    width:376px;
    height:70px;
    border: 3px solid #f0f8fd;
    border-radius:3px;
    line-height: 70px;
    text-align: center;
    font-size:26px;
    color:#f0f8fd;
    margin:120px 0 22px;
}
.refreshShow{
    width:376px;
    height:70px;
    border: 3px solid #2093e6;
    border-radius:3px;
    line-height: 70px;
    text-align: center;
    font-size:26px;
    color:#2093e6;
    margin:120px 0 22px;
}
.promptText{
    font-size:24px;
    color:#888;
    margin-bottom:260px;
}


.moduleShow{
    display:block;
}
.moduleHide{
    display:none;
}